.Header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    background-color: #012f84;
    color: #fafafa;
}