/* * {
    border: 1px solid black !important;
} */

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #2196f3;
}